# Xcode
xcuserdata/
DerivedData/
*.xcuserstate

# macOS
.DS_Store
alif-baa-ios.xcodeproj/project.xcworkspace/xcuserdata/jadev.xcuserdatad/UserInterfaceState.xcuserstate
/alif-baa-ios.xcodeproj/project.xcworkspace
